<div class="flex">
  <div class="login">
    <div class="header">
      <h2>Log in</h2>
    </div>
    <div class="form-container">
      <form>
        <div>
          <button type="button" class="button" (click)="signInWithFacebook()">
            <img class="icon" height="20" width="20" src="/assets/f-ogo_RGB_HEX-58.png" alt="Facebook image"> Using Facebook
          </button>
        </div>
        <div>
          <button type="button" class="button" (click)="signInWithGoogle()">
            <img class="icon" height="20" width="20" src="/assets/google-image-4fbbdf3b8475f3211b0afe7075e01626.svg" alt="Google image"> Using Google
          </button>
        </div>
      </form>
    </div>
  </div>
</div>