<header class='page-header'>
  <h1>
    Lists
  </h1>
</header>
<div class='section button-container'>
  <div class='buttons'>
    <a class='button' routerLink="/add-recipe-page">Add Recipe</a>
  </div>
  <div class='buttons'>
    <a class='button' href=''>Add List</a>
  </div>
</div>
<div class='list-container'>
  <div class='section lists-container'>
    <div class='list'>
      <div class='item-title'>
        <p>
          List 1
        </p>
      </div>
      <div class='actions'>
        <div class='edit'>
          <i class="material-icons">mode_edit</i>
        </div>
        <div class='delete'>
          <i class="material-icons">delete</i>
        </div>
      </div>
    </div>
    <div class='list'>
      <div class='item-title'>
        <p>
          List 2
        </p>
      </div>
      <div class='actions'>
        <div class='edit'>
          <i class="material-icons">mode_edit</i>
        </div>
        <div class='delete'>
          <i class="material-icons">delete</i>
        </div>
      </div>
    </div>
    <div class='list'>
      <div class='item-title'>
        <p>
          List 3
        </p>
      </div>
      <div class='actions'>
        <div class='edit'>
          <i class="material-icons">mode_edit</i>
        </div>
        <div class='delete'>
          <i class="material-icons">delete</i>
        </div>
      </div>
    </div>
  </div>
  <form action='' method='get' class='section list-form'>
    <div class='list-text'>
      <textarea id='list-textarea' name='list-text-area' placeholder='Chicken 1 lb &#10;Tomatoes 1 &#10;Green beans 1 can'></textarea>
    </div>
  </form>
</div>