<div class='section header-container'>
  <h1 class='header-h1'>
    Chef's List
  </h1>
</div>
<div class='section section-container'>
  <section class='info-item'>
    <h2 class='info-h2'> Create Account </h2>
    <p class='info-p'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate, felis quis efficitur luctus, orci ipsum imperdiet
      leo, sed consectetur arcu nisl in nibh.
    </p>
  </section>
  <section class='info-item'>
    <h2 class='info-h2'> Add Recipes </h2>
    <p class='info-p'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate, felis quis efficitur luctus, orci ipsum imperdiet
      leo, sed consectetur arcu nisl in nibh.
    </p>
  </section>
  <section class='info-item'>
    <h2 class='info-h2'> Make Lists </h2>
    <p class='info-p'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate, felis quis efficitur luctus, orci ipsum imperdiet
      leo, sed consectetur arcu nisl in nibh.
    </p>
  </section>
</div>